.post {
  border: 1px solid black;
  /* padding: 1em; */
  margin: 1em;
}
.row {
  display: flex;
  flex-direction: row;
}
.sub-img {
  border: 2px solid red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 20px 20px 0;
}
.sub-info-container {
  border: 1px solid black;
}
.sub-title-and-user {
  margin-bottom: 2px;
}
.subread-text {
  margin-bottom: -20px;
}
.title-container {
  /* border: 1px solid black; */
  display: inline;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}
.voteButton {
  height: 24px;
  width: 24px;
}
.likeCount {
  line-height: 15px;
  margin: 0 1px;
  text-align: center;
  width: 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  pointer-events: none;
  word-break: normal;
}
button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: initial;
  -webkit-appearance: button;
  /* -webkit-writing-mode: horizontal-tb !important; */
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
}
.arrowimg {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  width: 24px;
  font-size: 16px;
  line-height: 24px;
}
