body {
  min-height: calc(100vh - 48px);
  line-height: 1;
  font-family: IBMPlexSans, Arial, sans-serif;
}
html,
body {
  width: 100%;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
